<form action="/api/add-game/" method="post" class="msform">
    <heading class='get-started-now'>Time to know</heading><br>
    <heading class='get-started-now'>your friends</heading>
    <!-- <p class='warning' id='warning-text'></p> -->
    <!-- <fieldset>
        <input id='username' required class='inputs-val-1' autocomplete="off" type="text" name="username"
            placeholder="Username">
        <input type="button" name="next" class="next action-button" value="Get Started">
    </fieldset> -->
    <fieldset>
        <input id='userpassword' required class='inputs-val-2' autocomplete="off" type="text" name="userpassword"
            placeholder="What's your name.?">
        <input type="submit" name="submit" class="submit action-button" value="On it.">
    </fieldset>
</form>
