<%- include('includes/_header') %>
    <header id='signup-header' style="position: relative;">
        <nav>
            <heading><a href="/">Friendy</a></heading>
        </nav>
    </header>
    <%- include('includes/_signup_form') %>
        <footer id='signup-footer' style="position: relative;">
            <nav>
                <heading>Created by : Tanishq Singh</heading>
                <heading>Vector By <a target="_blank"
                        href="https://www.freepik.com/free-vector/mountains-landscape-sundown_5481305.htm">Freepik</a>
                </heading>
            </nav>
        </footer>
        <%- include('includes/_footer') %>
